.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    width: 45px;
}

.nav-logo p {
    color: #171717;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px;
    color: #626262;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-login-cart button {
    width: 100px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 20px;
    color: #515151;
    font-size: 17px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-login-cart img {
    margin-top: 10px;
    width: 35px;
}

.nav-cart-count {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -30px;
    border-radius: 50%;
    font-size: 12px;
    background: red;
    color: white;
}

.nav-hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #333;
}

@media (max-width: 1050px) {

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: white;
        width: 100%;
        margin: auto;
        padding: 25px 0;
        text-align: center;
    }

    .nav-menu.open {
        display: flex;
    }

    .nav-hamburger {
        display: flex;
    }
}

@media (max-width: 480px) {

    .nav-logo img {
        width: 35px;
    }

    .nav-logo p {
        font-size: 20px;
    }

    .nav-login-cart button {
        width: 80px;
        height: 35px;
        font-size: 14px;
    }

    .nav-menu {
        top: 75px;
        padding-right: 5px;
        font-size: 16px;
    }

    .nav-login-cart img {
        margin-top: 10px;
        width: 30px;
    }

    .nav-hamburger .line {
        width: 20px;
        height: 2px;
    }
}