.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 100px;
    padding: 0 20px;
}

.new-collections h1 {
    color: #171717;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

.new-collections hr {
    width: 200px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}

.collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

@media (max-width: 1200px) {
    .new-collections h1 {
        font-size: 40px;
    }

    .collections {
        gap: 20px;
    }
}

@media (max-width: 768px) {

    .new-collections h1 {
        font-size: 35px;
    }

    .collections {
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .new-collections h1 {
        font-size: 30px;
    }

    .collections {
        gap: 10px;
    }
}