.offers {
    width: 65%;
    height: 70vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button {
    width: 280px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}

@media (max-width: 1300px) {
    .offers {
        height: 150vh;
        flex-direction: column;
        padding: 0 50px;
        margin-bottom: 80px;
        align-items: center;
        text-align: center;
    }

    .offers-left {
        align-items: center;
        justify-content: center;
    }

    .offers-right {
        padding: 0;
    }
}

@media (max-width: 730px) {
    .offers-left h1 {
        font-size: 70px;
    }

    .offers-left p {
        font-size: 20px;
    }

    .offers-left button {
        width: 240px;
        height: 60px;
        font-size: 20px;
    }

    .offers-right img {
        width: 100%;
    }
}